


  body {
    background: lightblue;
    margin: 0;
    padding: 0;
    height: 100%;
  }


  body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    color: #333;
    margin: 50px;
    padding: 0;
  }

  scroll-container {
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
    color: hwb(0 100% 0%);
  }
  
  p {
    font-size: 24px;
    line-height: 1.5;
    margin: 50px;
  
  }

  p2 {
    font-size: 24px;
    line-height: 1.5;
    margin: 50px;
    font-weight: bold;
    display:flex;
  }

  
  nav {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  h2 {
    font-size: 32px;
    margin-top: 50px;
  }

  h3 {
    font-size: 26px;
    margin-top: 40px;
  }


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  li {
    display: inline-block;
    margin: 0 30px;
    vertical-align: top;
    position: relative;
  }
  
  li img {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 120px; 
    z-index: -5;
  }
  
  li a {
    display: block;
    margin-top: 30px; 
  }
  
  li:before {
    content: "";
    display: block;
    height: 50px; 
    position: absolute;
    top: -60px; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  a {
    color: #333;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    color: rgb(0, 88, 139);
  }
  
  a:hover {
    color: #ffe644;
  }

  header {
    background-color: rgb(0, 88, 139);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
  }
  
  .header-text {
    display: flex;
  }
  
  .header-text a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .header-text a:hover {
    color: #ffe644;
  }
  
  .panel {
    position: fixed;
    top: 0;
    right: -400px; /* initially hidden */
    width: 400px;
    height: 100%;
    background-color: rgb(0, 88, 139);
    transition: right 0.3s ease-in-out;
    z-index: 1;
  }
  

  .panel.open {
    right: 0; /* slide in from the right */
    z-index: 1000;
  }
  
  .panel-content {
    padding: 20px;
  }
  .panel-text {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
  }
  
  footer {
    background-color: rgb(0, 88, 139);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-top: 400px;
  }
  
  .footer-text {
    display: flex;
  }
  
  .footer-text p {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .footer-text p:hover {
    color: #ffe644;
  }
  
  